@media (max-width: 991px) {
  h1 {
    font-size: 2.1875rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  .text-content {
    width: 100%;
  }

  .wrapper {
    padding-top: 4.25rem;
    padding-bottom: 3.25rem;
  }

  /* Header Navbar */

  .navigation-wrap {
    text-align: center;
    background-color: var(--black-color);
  }
  .navigation-wrap .navbar-toggler {
    color: var(--white-color);
  }

  .navigation-wrap .nav-link {
    line-height: 1.875rem;
  }

  .top-banner {
    padding: 6.375rem 0 4.375rem;
  }

  /* Testimonial */
  .testimonial-section .carousel-item .carousel-caption p {
    padding: 0;
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.875rem;
  }
  .navigation-wrap .navbar-brand img {
    width: 12rem;
  }

  /* Story Section */

  .story-section {
    height: auto;
    padding: 3rem 0;
  }

  /* Testimonial */
  .testimonial-section .carousel-item {
    padding: 11rem 3.125rem;
  }
}
